@model IEnumerable<CleanMode_QuoteCalculator.Models.Quote>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quote1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.PhysicalAddress)
            </th>
            @if ((bool) ViewData["admin"]) 
            { 
                <th>

                </th>
            }

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quote1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.PhysicalAddress)
            </td>
            @if ((bool)ViewData["admin"])
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.QuoteId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.QuoteId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.QuoteId">Delete</a>
                </td>
            }
            </tr>
        }
    </tbody>
</table>
